/* HEADER */
.header {
  background-color: #6a1b9a;
  padding: 20px;
  text-align: right;
}

.shop-title {
  color: white;
  margin: 0;
}

/* NAVBAR */
.navbar {
  background-color: #8e24aa;
  padding: 12px;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}



/* FOOTER */
.footer {
  background-color: #6a1b9a;
  color: white;
  text-align: center;
  padding: 15px;
}
