/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
  background-color: #f3e5f5;
}

.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.price {
  color: #6a1b9a;
  font-size: 18px;
  font-weight: bold;
}

/* BUTTON */
button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4a148c;
}


.out-of-stock {
  background-color: #ffebee;
  border: 2px solid #c62828;
}

.out-of-stock h3,
.out-of-stock .price {
  color: #c62828;
}

button:disabled {
  background-color: #c62828;
  cursor: not-allowed;
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}